* linguist-vendored
*.js linguist-vendored=false
*.js linguist-language=Javascript
*.html linguist-vendored=false
*.html linguist-language=HTML
*.css linguist-vendored=false
*.css linguist-language=CSS
*.sql linguist-vendored=false
*.sql linguist-detectable=true
*.sql linguist-language=sql
